name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Check
      run: cargo check --verbose
    - name: Build
      run: cargo build --verbose
    - name: Check code format
      run: cargo fmt -- --check
    - name: Lint rust sources
      run: cargo clippy --all-targets --all-features --tests --benches -- -D warnings  
#     - name: Run tests
#       run: cargo test --verbose
